<%= form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <%= f.submit %>
<% end %>
