<% if user_signed_in? %>
  Hi, <%= current_user.email %>
    <li>
      <%= link_to "登出", destroy_user_session_path, method: 'DELETE' %>
    </li>
    <% if current_user.has_role?(:admin) %>
      <li>
          <%= link_to "後台管理", admin_products_path %>
      </li>
    <% end %>
<% else %>
  <li>
    <%= link_to "註冊", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "登入", new_user_session_path %>
  </li>
<% end %>